{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block ul %}
<li class="nav-item"><a class="nav-link" href="/change_password">Change Password</a></li>
{% endblock %}


{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for values in index.values() %}
                <tr>
                    {% for value in values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
